h1 { 
        color: #808080;
        padding: 100px;
}

* {
    border: dashed 1px
}

.header {
    display: flex;
    justify-content: space-between;
}

.headd {
    display: flex;
    justify-content: center;
}

.unknown {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p {
    text-align: center;
}

body{
    background-color: #87dfa1;
}